<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:home' %}">KSG Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'mainapp:home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'mainapp:shop' %}" class="nav-link">Shop</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'mainapp:cart' %}" class="nav-link">Cart <span
                            class="icon-shopping_cart"></span>
                        <span style="background-color:#007bff;color:white;padding:2px 2px 2px 3px;border-radius:35%">
                            {%if cart|length > 0 %} {{cart|length}} {% elif cart|length == 0 %} 0{% endif %}
                        </span></a>
                </li>
                <li class="nav-item"><a href="{% url 'mainapp:compare-products' %}" class="nav-link">Compare Products</a></li>
                {% endif %}
                {% if request.user.is_seller %}
                <li class="nav-item"><a href="{% url 'mainapp:product-create' %}" class="nav-link">Add Products</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'mainapp:contact' %}" class="nav-link">Contact</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{request.user.first_name|title}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'mainapp:your-account' %}"
                            style="font-size:10px;letter-spacing:2px;text-transform:uppercase;"><i
                                class="fa fa-user"></i>&nbsp;Your Account</a>
                        {% if not request.user.is_seller %}
                        <a class="dropdown-item" href="{% url 'mainapp:order-history' %}"
                                style="font-size:10px;letter-spacing:2px;text-transform:uppercase;"><i
                                    class="fa fa-clock"></i>&nbsp;Your Order History</a>  
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'mainapp:logout' %}"
                            style="font-size:10px;letter-spacing:2px;text-transform:uppercase;"><i
                                class="fa fa-lock"></i>&nbsp;Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url 'mainapp:login' %}" class="nav-link"><i
                            class="fa fa-unlock"></i>&nbsp;Login</a></li>
                <li class="nav-item"><a href="{% url 'mainapp:register' %}" class="nav-link" style="color:#007bff"><i
                            class="fa fa-check" style="color:#007bff"></i>&nbsp;Join us</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->