{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'mainapp/nav.html' %}
<br><br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-8 mx-auto ftco-animate">
			<div class="row">
				<div class="col-6">
					<p style="font-size: 28px; font-family: 'Source Sans Pro'; color:#262626;">
						{{request.user.first_name}} {{request.user.last_name}}&nbsp;
						{% if request.user.is_seller %}
						<i style="color:#007bff; font-size: 20px;" class="icon-check-circle"></i></p>
						{% endif %} 
		
					<p><b>Email:</b>{% if request.user.email %} {{request.user.email}} {% else %} None {% endif %}</p>
					<p><b>Gender:</b>{% if request.user.gender %}  {{request.user.gender}} {% else %} None {% endif %}</p>
					<p><b>Account Type:</b>{% if request.user.is_seller %}  Seller Account {% else %} Buyer Account {% endif %}</p>
					{% if not request.user.first_name %}
					<p style="color:red">Please update your profile</p>
					{% endif %}
				</div>
				<div class="col-6">
					<center>
						<a
							href="{% url 'mainapp:first-account-update' %}">
							<button class="btn btn-black py-2 px-3">
								<span style="font-size:10px;letter-spacing:2px;text-transform:uppercase;">
									<i class="fa fa-cog"></i>&nbsp;Edit Profile</span>
							</button>
						</a>
					</center>
		
					<br>
					{% if request.user.is_seller %}
					<center>
						<a href="{% url 'mainapp:product-create' %}">
							<button class="btn btn-black py-2 px-3">
								<span style="font-size:10px;letter-spacing:1px;text-transform:uppercase;">
									<i class="fa fa-paper-plane"></i>&nbsp;Add Inventory</span>
							</button>
						</a>
						<p class="pt-3"><b>Account Balance: ${{request.user.account_balance}}</b></p>
					</center>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	</div>

	{% if request.user.is_seller %}
	<div class="container">
		<br><br><br>
		{% if not pro or unapproved_products %}
		<h1 class="text-center" style="color:purple">Your Products will appear here after approval by the Administrator</h1>
		{% endif %}
		<h2 class="text-center">{% if pro %}Here are the items you are currently selling in our store {% else %} You currently have no items to sell out in our store{% endif %}</h2>
		<br><br><br>
	<div class="row">
		<br><br>
		{% for product in your_products %}
		{% if product.is_approved_by_admin %}
		<div class="col-sm-3 ftco-animate">
			<div class="">
				<a href="{{ product.get_absolute_url }}">
					<center>
						<img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
							alt="..."
							style="height: 200px; width: auto;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.09);">
					</center>
				</a>
				<div class="caption"><br>
					<p class="text-center">
						<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
					</p>
					<p class="text-center" style="margin-top:-10px">US ${{ product.price }}<br>
						<a href="{% url 'mainapp:product-edit' product.id %}"><button class="btn btn-success py-1 px-2"><i style="font-size: 10px;" class="fa fa-pen"></i>&nbsp;
							<span style="font-size:10px;text-transform:uppercase;letter-spacing:2px;">Edit</span></button></a>
						<a href="{% url 'mainapp:product-delete' product.id %}"><button class="btn btn-danger py-1 px-2"><i
									class="fa fa-trash-alt" style="font-size: 10px;"></i>&nbsp;
									<span style="font-size:10px;text-transform:uppercase;letter-spacing:2px;">Delete</span></button></a>
					</p>
				</div><br><br>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</div>


{% endblock content %}